.bg-container{
    background-image: url(' https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-container{
    background-color: #f6c56e;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}

.title{
    font-family: "Open Sans";
    color: #323f4b;
    margin: 15px;
}

.Description{
    font-family: "Roboto";
    color: #323f4b;
    margin: 15px;
    font-weight: bolder;
}

.button{
    background-color: #ffffff;
    font-family: "Roboto";
    border-color: #ffffff;
    padding: 10px;
    font-weight: bolder;
    border-radius: 8px;
    margin: 15px;
}