*{
    margin: 0px ;
}
.card{
    background-image: url("https://img.freepik.com/free-photo/full-shot-woman-taking-selfie_23-2149153257.jpg?1&w=900&t=st=1694236567~exp=1694237167~hmac=ee8a603fef286515ab7c1114d22c9904b895690186b1adc2871cb7a7afe50431");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.card-container{
    background-color: transparent;
    width: 22vw;
    margin-left: 15px;
    margin-top: 15px;
}

.paragraph{
    color:goldenrod;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    
}
