/*
A css file will be created. it is a list of RULESETS.
Each Ruleset Loo likes 
selector{
        property1: value1;
        property2: value2;
        }
*/

/*EXAMPLE*/
.h-center{      /*|->VALUE*/
    text-align: center;
    /*|->Property*/
}


/* ATTRIBUTE
With the help of Attributes,We can combine HTML and CSS
Attributes provide additional information about the HTML Element
Ex: Colour, TextSize, shape,underlines,etc..
*/