*{
    margin: 0px;
    padding: 0px;
}
.clear{
    clear: both;
}

.detailed-section-container{
    background-image: url(images/seabg.png);
    background-size: cover;

}

.container{
    width: 80%;
    margin: 0px auto;
}

.place-container{
    padding: 10px;
}

.heading{
    color: #ffffff;
    font-family: sans-serif;
    padding-top: 10px;
    font-weight: 600;
}

.detailed-card-container{
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.title{
    font-family: Cambria;
    padding-top: 10px;
}

.paragraph{
    font-family: Georgia;
    padding-top: 10px;
}

.detailed-dis{
    padding: 15px;
}
.img1{
    float: left;
    width: 25%;
}

.img2{
    float: left;
    width: 25%;
    margin-left: 12%;
    margin-right: 10%;
}

.img3{
    float: right;
    width: 25%;
}

.more-img{
    height: 125px;
}

.btn-container{
    text-align: center;
    padding-top: 10px;
}
.knowMore{
    margin-top: 10px;
    background-color: aqua;
    font-family: Arial;
    font-weight:700;
    padding: 10px;
    border-radius: 8px;
    border-color: aqua;
    color: #ffffff;
}

.knowMore:hover{
    background-color: #ffffff;
    color: aqua;
}

.goBack{
    margin: 10px;
    background-color: #6feea8;
    font-family: Arial;
    font-weight:700;
    padding: 10px;
    border-radius: 8px;
    border-color: #bcf3f7;
    color: #ffffff;  
}

.goBack:hover{
    background-color: #ffffff;
    color: #6feea8;   
}